.yw-variantselector{
	padding: 0 0 10px 0;
}

.yw-variantoption-label {
	width: 80px;
	padding: 3px;
	text-align: right;
}

.yw-variantoption-label .z-label:AFTER {
	content: ":";
}


.yw-variantoption-label .z-label,
.yw-variantselector .z-select {
	font-size: 20px;
	color: #54637C;
}


.yw-variantselector .z-hlayout {
	margin-bottom: 5px;
}