.CodeMirror-line-numbers {
	color: gray;
	background-color: lightgray;
	padding: 5px;
	margin-right: 5px;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size: 12px; /*1em*/
}

.border {
	background-color: #FAFAFF;
	border: 1px solid darkgray;
}

.hidden {
	display: none;
}

#spinner {
	opacity: 0.25;
	-moz-transform: scale(6);
	-webkit-transform: scale(6);
}

#textarea-container {
	position: relative;
	border: 1px dashed #666 !important;
}

#spinnerWrapper {
	display: none;
	margin-top: 100px;
	width: 100%;
	position: absolute;
	z-index: 1000;
	text-align: center;
	/*border: 1px solid red;*/
}

#output {
	margin: 0;
}

.ui-tabs .ui-tabs-panel {
	padding: 5px;
}

.scrollable {
	overflow: auto;
}

#executeButton {
	float: right;
}

.iPhoneCheckContainer {
	width: 100px !important;
}

.iPhoneCheckHandleCenter {
	width: 5px !important;
}

.iPhoneCheckHandle {
	width: 5px !important;
}

.iphoneCheckLabelOff {
	width: 90px !important;
}
